html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1{
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    line-height: 1em;
    max-width: 100%;
}

h2{
    font-size: 1.3em;
    font-weight: 700;
    margin: 1.5em 0 0.5em;
    line-height: 1em;
    max-width: 100%;
}

p{
    font-size: 0.875em;
    margin: 0;
    max-width: 100%;
}

a, a:link{
    color: inherit;
}

header{
    background: #363636;
    padding: 2em 0;
    color: #fff;
}

header h1{
    font-size: 3em;
    margin-bottom: 5px;
}

header p{
    text-transform: uppercase;
}

.content{
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

/*======= PAGE ===========*/

#banner1{
    background-image: url(../img/gipsy_in_the_woods.jpg);
    width: 100%;
    height: 20em;
    padding:8em 5em;
    color: #fff;
    text-align: center;
}


#banner2{
    background-image: url(../img/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg);
    width: 100%;
    height: 20em;
    padding:8em 5em;
    color: #fff;
    text-align: center;
}

#banner3{
    background-image:url(../img/photo-1422513391413-ddd4f2ce3340.jpg);
    width: 100%;
    height: 45em;
    padding:20em 5em;
    color: #fff;
    text-align: center;
}

#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12{
    background-image:url(../img/light.png);
    width: 30px;
    height: 30px;
}

#img1{margin-left: 9%;}
#img2{margin-left: 17%;}
#img3{margin-left: 29%;}
#img4{margin-left: 37%;}
#img5{margin-left: 45%;}
#img6{margin-left: 56%;}
#img7{margin-left: 67%;}
#img8{margin-left: 74%;}
#img9{margin-left: 20%;}
#img10{margin-left: 85%;}
#img11{margin-left: 92%;}
#img12{margin-left: 97%;}
#img13{margin-left: 60%;}
#img14{margin-left: 15%;}
#img15{margin-left: 7%;}
#img16{margin-left: 22%;}
#img17{margin-left: 70%;}